html{
	height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e,rgb(217, 190, 208), rgb(29, 59, 193));
    background-size: 400% 400%;
    animation: 
    		opacity 5s ease 1,
    		gradient 15s ease 1;
    animation-fill-mode: forwards;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
/*    100% {
        background-position: 0% 50%;
    }*/
}

body{
	display: grid;
	grid-template-rows: 0.7fr 1fr;
}


#tl{
	font-family: 'Baloo Chettan 2', cursive;
	font-size: 80px;
	text-align: center;
	justify-self:center;
	align-self: center;
}

h4{
	font-family: 'Baloo Chettan 2', cursive;
	font-size: 18px;
}

#main{
	display: flex;
	justify-content: space-evenly;
}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 0;
	margin: 0 0;
}

ul li {
		display: grid;
		grid-template-columns: 1fr 0.3fr;
}

ul li span:nth-of-type(2){
		justify-self:center;

}

.work{
	width: 100%;
	display: flex;
	justify-content: space-around;
	border: 0.5px solid grey;
	border-radius: 10px;
	background-color: white;
}

.work h3 {
	flex-grow: 2;
}

#list{
	display: grid;
}

ul button {
	border-style: none;
	background-color: inherit;
	transform: scale(0.5,0.5);
}

ul button img {
	/*transform: scale(0.05,0.05);*/
}

ul li h3, .a {
	font-family: 'Bellota Text', cursive;

}

#fill{
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr 4fr;
	grid-template-rows: 1fr 1fr 1fr 2.1fr ;
}

#input{
	border: none;
	text-align: center;
	font-family: 'Bellota Text', cursive;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
	grid-column: 1 /5;
	grid-row: 1/3;
}

#submit{
	border: none;
	font-size: 16px;
	border-radius: 9px;
	background-color: #017AFF;
	color:white;
	font-weight: bold;
	font-family: 'Bellota Text', cursive;
	grid-column: 1/3;
}

ul {
	overflow-y: scroll;
	height: 250px;
}

ul::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

ul {
    -ms-overflow-style: none;   
    scrollbar-width: none;
}

/*Animations!*/

.a{
  animation-name: fadein;
  animation-duration: 0.5s; 
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running; 

}

@keyframes fadein{

	0%{
		transform: translateX(10px);
		opacity: 0%;
	}

	100%{
		transform: translateX(0px);
		opacity: 100%;		
	}

}

.work{
  animation-name: in;
  animation-duration: 0.5s; 
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running; 

}

@keyframes in{

	0%{
		transform: translateY(-5px);
		opacity: 0%;
	}

	100%{
		transform: translateY(0px);
		opacity: 100%;		
	}

}

.work:hover{
  animation-name: color;
  animation-timing-function: ease-in;
  animation-duration: 0.3s; 
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; 

}

@keyframes color{

	0%{

	}

	100%{
		background-color: #017AFF;	
	}

}

@keyframes opacity{

	0%{
		opacity: 0%;
	}

	100%{
		opacity: 100%
	}

}


/*#animation{
	position: absolute;
	height: 40%;
	width: 80%;
}

#animation div {
	position: absolute;
	opacity: 0.3;
	height: 10px;
	width: 10px;
	background-color: black;
	border-radius: 50%;
}

.move {
		animation: star 5s ease infinite;
		animation-direction: alternate;
}

@keyframes star {
	0%{
		transform: translateY(0px);
	}
	100%{

		transform: translateY(100px);
	}
}*/




/*Media Queries */




@media only screen 
  and (max-device-width: 670px) 
{ 

#main{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#list{
	grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
	grid-template-rows:  0.1fr 1fr;
	height: inherit;

}

ul, #list h4{
	justify-self:center;
	align-self: center;
}

#list h4 {
	grid-column: 2/4;
	justify-self: center;
	align-self: end;
}
ul{
	grid-column: 2/5;
	justify-self: left;
}

#fill {
	grid-template-columns: 1fr 0.5fr 1fr 1fr;
}

#input{
	grid-column: 1/5;
	justify-self:center;
}

#submit{
	grid-column: 2/4;
	justify-self:center;
	grid-row: 3/5;
	align-self: center;
}
#add{
	text-align: center;
}

ul li {
		display: grid;
		grid-template-columns: 1fr 0.4fr;
}

ul li h3{
	font-size: 90%;
}

}







@media only screen 
  and (max-device-width: 535px) 
{ 

#main{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#list{
	grid-template-columns: 1.3fr 0.5fr 0.5fr 1fr;
	grid-template-rows:  0.1fr 1fr;
	height: inherit;

}

ul, #list h4{
	justify-self:center;
	align-self: center;
}

#list h4 {
	grid-column: 2/4;
	justify-self: center;
	align-self: end;
}
ul{
	grid-column: 1/5;
	justify-self: left;
}

#fill {
	grid-template-columns: 1fr 0.5fr 1fr 1fr;
}

#input{
	grid-column: 1/5;
	justify-self:center;
}

#submit{
	grid-column: 2/4;
	justify-self:center;
	grid-row: 3/5;
	align-self: center;
}
#add{
	text-align: center;
}

ul li {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
}

ul li span:nth-of-type(2){
		justify-self:right;

}


}
